#header, {
    color: rgb(57, 4, 92);
    font-weight: bold;
    font-size: 100px;
    font-style: italic;
    text-align: center;
}
#about{
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(57, 4, 92);
}
#more{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(57, 4, 92);
}
h2{
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    color: black;
}